<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PhlyRestfully Module Tests">
            <directory>./PhlyRestfullyTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
