parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - ./src
    ignoreErrors:
        # Type-o in ZF2's docblock
        -
            message: '#Call to method getTypeString\(\) on an unknown class Zend\\Http\\Header\\Accept\\FieldValuePArt\\AcceptFieldValuePart\.#'
            path: ./src/Listener/ApiProblemListener.php
        # Internal code never sets $identifierName to false, but does have a setter with no restrictions
        -
            message: '#Strict comparison using === between false and string will always evaluate to false\.#'
            path: ./src/Plugin/HalLinks.php
        # ZF2 docblocks aren't correct, does accept an array
        -
            message: '#Parameter \#1 \$nameOrModel of method Zend\\View\\Renderer\\JsonRenderer::render\(\) expects string\|Zend\\View\\Model\\ModelInterface, array given\.#'
            path: ./src/View/RestfulJsonRenderer.php
        # There's a check earlier that checks if there's an ApiProblem (which checks if apiProblem is null), so won't be null here
        -
            message: '#Parameter \#1 \$problem of method PhlyRestfully\\View\\RestfulJsonStrategy::getStatusCodeFromApiProblem\(\) expects PhlyRestfully\\ApiProblem, PhlyRestfully\\ApiProblem\|null given\.#'
            path: ./src/View/RestfulJsonStrategy.php
includes:
    - phpstan-baseline.neon
